.smartdesign-base-field-input {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: #F8F8F8;
}

.smartdesign-base-field-input-full-width {
  width: 100%;
}

.smartdesign-base-field-input-dummy {
  width: 350px;
  height: 25px;
  pointer-events:none;
  background-color: lightcyan;
  font-family: Roboto;
  font-size: 10px;
  border: 1px dashed grey;
  color: #F8F8F8;
}
