
<div [ngSwitch]="inputType">
  <div *ngSwitchCase="'STRING'" [ngTemplateOutlet]="InputField"></div>
  <div *ngSwitchCase="'DATETIME'" [ngTemplateOutlet]="Datepicker"></div>
  <div *ngSwitchDefault [ngTemplateOutlet]="DUMMY"></div>
</div>


<ng-template #InputField>
  <form class="smartdesign-base-field-input">
    <mat-form-field class="smartdesign-base-field-input-full-width">
      <input matInput placeholder="smartdesign.base.field" value="">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #Datepicker>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ng-template>

<ng-template #DUMMY>
  <form class="smartdesign-base-field-input">
    <mat-form-field class="smartdesign-base-field-input-dummy">
      <input matInput placeholder="'dummy-component for {{actualTypeInfo}}" value="">
    </mat-form-field>
  </form>
</ng-template>
