.smartdesign-base-zlayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-family: "Segoe UI Light";;
  font-size: 10px;
  background-color: rgb(242,242,242);
  border: 1px dotted grey!important;
  padding: 5px;
}
.smartdesign-base-zlayout>*{
  /*flex-grow: 1;*/
  flex: 1 1 auto;
  align-items: stretch;
  align-content: stretch;
}
/*.smartdesign-base-zlayout>*:last-child{*/
  /*!*flex-grow: 1;*!*/
  /*flex: 1 1 auto;*/
  /*align-self: stretch;*/
/*}*/
/*div {*/
  /*flex-grow: 1;*/
  /*!*flex: 1 1 160px;*!*/
/*}*/

