
<div class="smartdesign-base-embedded-list">
  <mat-toolbar class="smartdesign-base-embedded-list-title">
    <span>{{formConfig.caption || formConfig.name}}</span>
  </mat-toolbar>
  <mat-list role="list">
    <mat-list-item role="listitem" class="smartdesign-base-embedded-list-item">{{formConfig.type}} for</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" class="smartdesign-base-embedded-list-item">{{formConfig.name}}</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
