
<div [ngSwitch]="formConfig.type" style="height: 100%">
  <div *ngSwitchCase="'smartdesign.base.VerticalLayout'" [ngTemplateOutlet]="VerticalLayout"></div>
  <div *ngSwitchCase="'smartdesign.base.HorizontalLayout'" [ngTemplateOutlet]="HorizontalLayout"></div>
  <div *ngSwitchCase="'smartdesign.base.ZLayout'" [ngTemplateOutlet]="ZLayout"></div>
  <div *ngSwitchCase="'smartdesign.base.Message'" [ngTemplateOutlet]="Message"></div>
  <div *ngSwitchCase="'smartdesign.base.FieldGroup'" [ngTemplateOutlet]="FieldGroup"></div>
  <div *ngSwitchCase="'smartdesign.base.EmbeddedList'" [ngTemplateOutlet]="EmbeddedList"></div>
  <div *ngSwitchCase="'smartdesign.base.Field'" [ngTemplateOutlet]="InputField"></div>
</div>


<ng-template #VerticalLayout>
  <smartdesign-base-verticalLayout [embeddedComponents]="formConfig.children"></smartdesign-base-verticalLayout>
</ng-template>

<ng-template #HorizontalLayout>
  <smartdesign-base-horizontalLayout  [embeddedComponents]="formConfig.children"></smartdesign-base-horizontalLayout>
</ng-template>

<ng-template #ZLayout>
  <app-smartdesign-base-zlayout [embeddedComponents]="formConfig.children"></app-smartdesign-base-zlayout>
</ng-template>

<ng-template #Message>
  <app-smartdesign-base-message [formConfig]="formConfig"></app-smartdesign-base-message>
</ng-template>

<ng-template #FieldGroup>
  <app-smartdesign-base-field-group  [embeddedComponents]="formConfig.children"></app-smartdesign-base-field-group>
</ng-template>

<ng-template #EmbeddedList>
  <div>EmbeddedList</div>
</ng-template>

<ng-template #InputField>
  <form class="smartdesign-base-field-input">
    <mat-form-field class="smartdesign-base-field-input-dummy">
      <input matInput placeholder="'dummy-component for {{actualTypeInfo}}" value="" >
    </mat-form-field>
  </form>
</ng-template>
