.title {
  background-color: black;
  color: white;
  font-family: Roboto;
  font-weight: lighter;
}
body {
  margin: 2em;
  font-family: Roboto;
  background-color: black;
  font-family: Roboto;
}
body, input[text], button {
  color: crimson;

}

button.clear {
  font-family: Roboto;
  background-color: #eee;
  border: none;
  padding: 1px 10px;
  border-radius: 1px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: silver;
  heigth: 10 px;
  margin-bottom: 12px;
}
.message {
  font-family: Roboto;
  font-size: 12px;
  background-color: black;
  color: red;
}
