<div class="mainapp">
  <div class="form">
    <mat-toolbar class="title">
      <mat-toolbar-row>
        <span>Prototype DSL interpretation in Angular</span>
        <span class="spacer"></span>
        <span class="padding">
          <mat-form-field>
            <mat-select [(ngModel)]="form" name="" class="options" (selectionChange)="setApp()">
              <mat-optgroup *ngFor="let app of this.dslDescription[0].apps" [label]="app.name" [disabled]="false" >
                <mat-option *ngFor="let form of app.forms" [value]="form.id">
                {{form.id}}
                </mat-option>
             </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </span>
        <span class="padding">
          <mat-form-field class="small">
            <mat-select [(ngModel)]="state" name="state" class="options">
              <mat-option *ngFor="let state of app.forms[formIdx||0].states" [value]="state.mode">
                {{state.mode}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <mat-toolbar>
    <span class="apptitle">{{app.name}}</span>
  </mat-toolbar>
  <div style="margin: 10px">
    <dynamic-form [formConfig]="app.forms[formIdx||0].states[((state == 'edit') ? 1 : 0)].content"></dynamic-form>
  </div>
  <app-messages></app-messages>
</div>

