.smartdesign-base-verticalLayout {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 10px;
  background-color: lightgoldenrodyellow;
  border: 1px dotted grey!important;
}
