.smartdesign-base-verticalLayout {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI Light";;
  font-size: 10px;
  background-color: rgb(242,242,242);
  border: 1px dotted grey!important;
  padding: 5px;
}
