<!-- TODO make ngTemplateOutlet dynamically work with Layout-Variable
<div>
  <ng-container *ngTemplateOutlet=layout></ng-container>
</div>-->

<div>{{layout}}</div>

<div>
    <form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)">
        <ng-container *ngFor="let field of fields;" dynamicField [field]="field" [group]="form">
        </ng-container>
    </form>
</div>



<ng-template #horizontalLayout><span>This is the horizontal Layout Template</span></ng-template>




<ng-template #verticalLayout><span>This is the vertical Layout Template</span></ng-template>
