

<div *ngFor="let child of children.children">
  {{child.name}}
  <div *ngIf="child.children">
    <dynamic-form [children]="child.children" [type]="child.type" [layoutOfParent]="actualLayout"> </dynamic-form>
  </div>
</div>

<div *ngIf="children.children == undefined">
  Bin im unteren Zweig
  <div *ngIf="baseType==='layout' && isLayoutVertical; then VerticalLayout ; else HorizontalLayout"></div>
  <div *ngIf="baseType==='component'">{{children.name}} {{children.type}}</div>
</div>



<!--
<div>
    <form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)">
        <ng-container *ngFor="let field of fields;" dynamicField [field]="field" [group]="form">
        </ng-container>
    </form>
</div>
-->



<ng-template #HorizontalLayout>
  <div>
    <form class="dynamic-form" [formGroup]="form" (submit)="onSubmit($event)">
      <ng-container *ngFor="let field of fields;" dynamicField [field]="field" [group]="form">
      </ng-container>
    </form>
</div></ng-template>




<ng-template #VerticalLayout><span>This is the vertical Layout Template for {{children.name}}</span></ng-template>
