<div *ngIf="formConfig">
  <!--<div dynamicComponent [component]="formConfig" [parent]="parent" class="component" >-->

  <div class="component {{getLayoutClass(formConfig.type)}}">
    <div *ngFor="let component of formConfig.children" class="nesting">
      <div class="name">  {{component.name}} : {{component.type}}</div>
      <div *ngIf="component.type !='smartdesign.base.Field'" >
      <!--<div *ngIf="component.type !='smartdesign.base.Field'" class="getLayoutClass(component.type)">-->

        <dynamic-form [formConfig]="component" [parent]="container"></dynamic-form>
      </div>
      <div *ngIf="component.type =='smartdesign.base.Field'">
        <!--<div style="height: 50px; width:50px; border: 1px solid blue; display:flex; flex-direction: row"></div>-->
        <smartdesign-base-field inputType="string">        </smartdesign-base-field>
      </div>

    </div>
  </div>

</div>


<!--<div>-->
<!--<div>-->
  <!--<div>{{node.name}}</div>-->
  <!--<ul>-->
    <!--<li *ngFor="let node of node.children">-->
      <!--<tree-node  [node]="node"></tree-node>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->


<!--<div *ngIf="formConfig">-->
  <!--<ng-container  dynamicComponent [component]="formConfig" [parent]="parent" >-->
      <!--<div *ngFor="let component of formConfig.children" class="nesting">-->
        <!--<div class="name">  {{component.name}}</div>-->
          <!--<dynamic-form [formConfig]="component" [parent]="container"></dynamic-form>-->
      <!--</div>-->
  <!--</ng-container>-->
<!--</div>-->
